.ToDoList {
  width: 600px;
}

.ToDoList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
}

.ToDoList__text {
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}
